{% extends "base.html" %}
{% load bootstrap_toolkit %}

<!-- i want to insert one more css file that gives me the grid stuff from bootstrap - how do i do that? it's not working right now because its not in the head part of the html -->
 <link href="/Users/strayinsky/documents/foodcritic/static/grid.css" rel="stylesheet">
{% block content %}

    <div class="page-header">
        <h1>{{ restaurant.name }}   <small>{{ restaurant.city }},{{restaurant.country}}</small></h1>
    </div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table class="table table-hover">
<thead>
<tr>
  <th>&nbsp</th>
    <th><h4>Dish</h4></th>
     <th><h4>Description</h4></th>
    <th>&nbsp</th>
</tr>
</thead>
<tbody>
{% for dish in restaurant.dish_set.all %}
    <tr>
        <td><a href="{% url 'food:editdish' dish.id %}">Edit</a></td>
        <td>{{dish.name}}</td>
        <td>{{ dish.description }}</td>
        <td><a href="{% url 'food:gradedish' dish.id %}">Grade</a></td>
    </tr>
{% endfor %}
</tbody>
</table>

<p><a href="{% url 'food:adddish' restaurant.id %}">Add a dish to this restaurant's menu</a></p>
<p><a href="{% url 'food:dishandgrade' restaurant.id %}">Add a dish and grade it at the same time!</a></p>
{% endblock %}

{% comment %}
<h1>{{ restaurant.rest_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action = "{% url 'food:grade' restaurant.id %}" method = "POST">
{% csrf_token %}
{% for dish in restaurant.dish_set.all %}
    {{ dish.name}}:
        <input type="number" name="{{ dish.id }}" >
        <input type="text" name = "{{ dish.id }}">
        </br>
{% endfor %}
<input type="submit" value="Add My Grades" />
</form>
{% endcomment %}
